$p: #2c84ec;
$s: #87e0e5;
$n: #f3fbff;

// Defaults

::-webkit-scrollbar {
  display: none;
}

.dh {
  display: none !important;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;

  scroll-behavior: smooth;

  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;

  font-family: "Poppins";
  font-weight: 400;
  color: $n;

  display: flex;
  flex-flow: column;
  overflow-x: hidden;

  position: relative;

  background-color: #010716;
}

section {
  width: 100%;

  display: flex;
  flex-flow: column;
  align-items: center;

  padding: 14rem 14.5rem;
}

h1 {
  position: relative;
  text-transform: uppercase;
  font-family: "Gotham";
  font-weight: 500;
  font-size: 3.6rem;
  letter-spacing: 1px;
  margin-bottom: 48px;

  &::before {
    content: "";
    width: 35%;
    width: 220px;
    height: 3px;
    background-color: hsla(213, 83%, 55%, 0.4);
    position: absolute;
    top: calc(100% + 16px);
  }

  span {
    color: $p;
    font-size: 5.2rem;
  }
}

h2 {
  position: relative;
  text-transform: uppercase;
  font-family: "Gotham";
  font-weight: 500;
  font-size: 4.4rem;
  letter-spacing: 0.75px;
  margin-bottom: 48px;

  &::before {
    content: "";
    width: 220px;
    height: 3px;
    background-color: hsla(213, 83%, 55%, 0.4);
    position: absolute;
    top: calc(100% + 16px);
  }

  span {
    color: $p;
  }
}

h3 {
  position: relative;
  font-weight: 500;
  font-size: 2.8rem;
  letter-spacing: 0.5px;
  margin-bottom: 6.4rem;

  span {
    color: $p;
  }
}

p {
  font-size: 2.2rem;

  span {
    color: $s;
  }
}

a {
  font-size: 2.2rem;
  color: $n;
  text-decoration: none;
  letter-spacing: 0.45;
  font-weight: 500;
  display: inline-block;
}

// Other

.slope {
  width: 100vw;
}

.abstract {
  position: absolute;
  z-index: 1;
}

.cm {
  background-color: #010716;
}

.cs {
  background-color: #08101f;
}

.main {
  max-width: 1280px;
  width: 100%;
}

// Navbar

nav {
  padding: 3.6rem 14.5rem;
  background-image: linear-gradient(to bottom, black 15%, rgba(0, 0, 0, 0));
  width: 100vw;
  height: 120px;
  margin-bottom: 9.6rem;
}

.navbar {
  max-width: 1280px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: auto auto;

  img {
    height: 4.4rem;
    object-fit: cover;
  }
}

.nav-links {
  display: flex;
  align-items: center;

  a:not(.reg-link) {
    margin-right: 4.4rem;
  }
}

.reg-link {
  margin-left: 2.8rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.65px;

  padding: 5.5px 3.2rem;
  background-color: $p;

  border-radius: 6px;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 2px 3px 5px hsla(0, 0%, 0%, 0.25);
}

.menu {
  position: relative;
  z-index: 2;
}

.menu-btn {
  position: relative;
  font-size: 26px;

  cursor: pointer;
}

.menu-links {
  padding: 28px 24px;
  background-color: #1d324b;
  position: absolute;
  right: 0;
  top: -20px;
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-radius: 10px;
  margin-top: 5px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.25);
  border: solid 1px rgba(238, 252, 255, 0.178);
  transition: all 0.2s, opacity 0.1s;

  a {
    margin: 6px 0;
  }

  .reg-link {
    margin-top: 15px;
  }
}

.menu-open {
  top: 100% !important;
  visibility: visible !important;
  opacity: 1 !important;
}

// Hero
#hero {
  padding: 0 14.5rem;
  position: relative;

  height: 100vh;
  min-height: 860px;

  p {
    margin-bottom: 32px;
    font-size: 2.4rem;
  }

  .slope {
    margin-top: auto;
    transform: rotate(180deg);
  }

  .sec-img {
    min-width: 525px;
  }
}

.gr {
  position: relative;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  grid-column-gap: 50px;

  align-items: center;
  z-index: 1;
}

.sec-img {
  width: 100%;
}

.reg-btn {
  position: relative;
  font-size: 2.8rem;
  padding: 11px 22px;
  letter-spacing: 0.65px;
  background-color: $p;
  text-transform: uppercase;
  border-radius: 12px;
  box-shadow: 2px 3px 5px hsla(0, 0%, 0%, 0.25);

  img {
    width: 6.4rem;
    height: 3.4rem;
    margin-left: 7px;
  }
}

// Seperator

// .seperator {
//   width: 65%;
//   position: relative;
//   margin: 0 auto;

//   &::before {
//     content: "";
//     position: absolute;
//     background-image: url("images/triangle-sep.svg");
//     background-size: cover;
//     width: 58px;
//     aspect-ratio: 5.8/5;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
//     z-index: 1;
//   }
//   &::after {
//     content: "";
//     position: absolute;
//     width: 100%;
//     height: 2px;
//     background-color: hsla(227, 69%, 87%, 0.8);
//     top: 50%;
//     left: 0;
//     transform: translate(0, -50%);
//   }
// }

// About
#about {
  .gr {
    grid-column-gap: 72px;
  }
}

// Events

#events {
  padding: 0 14.5rem;
  z-index: 1;

  h2 {
    margin-bottom: 90px;
    letter-spacing: 1px;
  }

  .slope {
    &.one {
      margin-bottom: 7rem;
      transform: rotate(180deg);
    }

    &.two {
      margin-top: 11rem;
    }
  }
}

.fl {
  position: relative;

  display: flex;
  flex-flow: column;
  align-items: center;

  h2 {
    &::before {
      left: 50%;
      width: 150px;
      transform: translate(-50%, -50%);
    }
  }
}

.event-boxes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.event-box {
  position: relative;
  width: 260px;
  height: 330px;
  margin: 23px 15px 23px 15px;
  border-radius: 20px;
  border: solid 1px $n;
  box-shadow: 2px 3px 5px hsla(0, 0%, 0%, 0.25);
  background-size: 108%;

  &.puzzle {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -18.25rem;
      background-image: url(images/abstract/puzzle.svg);
      background-size: cover;
      width: 330px;
      height: 330px;
      z-index: -1;
    }
  }

  &.calc {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -19.25rem;
      background-image: url(images/abstract/calc.svg);
      background-size: cover;
      width: 330px;
      height: 330px;
      z-index: -1;
    }
  }

  &::before {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 22.5%;
    background-color: #3e7bb4;
    border: solid 1px $n;
    border-radius: 0 0 20px 20px;
    font-size: 23px;
    letter-spacing: 0.75px;
    font-weight: 500;
    text-transform: uppercase;
    color: $n;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 0 1.5rem;
    box-sizing: border-box;
  }

  &.t2 {
    &::before {
      font-size: 20px;
    }
  }
}

// Team

#team {
  position: relative;
  padding-bottom: 11rem;
  z-index: 1;

  h2 {
    margin-bottom: 85px;
  }
}

.team-boxes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.team-box {
  width: 250px;
  height: 190px;
  border-radius: 20px;
  box-shadow: 2px 3px 5px hsla(0, 0%, 0%, 0.25);
  background-color: $n;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  padding: 0 20px 38px;
  position: relative;
  margin: 45px 20px;

  &.sec {
    &::after {
      content: "";
      position: absolute;
      top: 22%;
      left: -62%;
      background-image: url(images/abstract/team-sec.svg);
      background-size: cover;
      width: 230px;
      height: 230px;
      z-index: -1;
    }
  }

  &.code {
    &::after {
      content: "";
      position: absolute;
      bottom: 14%;
      right: -52%;
      background-image: url(images/abstract/team-code.svg);
      background-size: cover;
      width: 260px;
      height: 260px;
      z-index: -1;
    }
  }

  &:nth-child(2n + 1) {
    background-color: $p;

    .name {
      color: #acebff;

      &::before {
        background-color: hsla(248, 94%, 81%, 0.66);
      }
    }
    .role {
      color: $n;
    }
  }

  .content {
    margin-top: auto;
  }

  img {
    position: absolute;
    width: 84px;
    height: 84px;
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: 2px 3px 5px hsla(0, 0%, 0%, 0.25);
  }

  .name {
    position: relative;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 26px;
    letter-spacing: 0.5px;

    color: $p;

    &::before {
      content: "";
      width: 75px;
      height: 2px;
      background-color: hsla(248, 91%, 69%, 0.28);
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      top: calc(100% + 8px);
    }
  }
  .role {
    font-family: "Gotham";
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.4px;
    font-weight: 500;
    color: #3c3c3c;
  }
}

// Contact

#contact {
  position: relative;
  padding: 0 14.5rem 11.5rem 14.5rem;

  .main {
    width: unset;

    &::before {
      content: "";
      position: absolute;
      top: 40%;
      left: -32rem;
      width: 25rem;
      height: 25rem;
      background-size: cover;
      background-image: url(images/abstract/textL.svg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -30rem;
      width: 19rem;
      height: 18rem;
      background-size: cover;
      background-image: url(images/abstract/textS.svg);
    }
  }

  .slope {
    width: 100vw;
    margin-bottom: auto;
  }

  h2 {
    margin-top: 12rem;
  }
}

.email-btn {
  font-size: 2.8rem;
  padding: 11px 22px;
  letter-spacing: 0.65px;
  background-color: $p;
  text-transform: uppercase;
  border-radius: 12px;
  box-shadow: 2px 3px 5px hsla(0, 0%, 0%, 0.25);
  margin-top: 24px;

  i {
    margin-left: 10px;
  }
}

.socials {
  display: flex;
  margin-top: 52px;

  a {
    height: 4rem;
    position: relative;
    margin: 0 14px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

// Responsiveness

@media (max-width: 1520px) {
  html {
    font-size: 9.4px;
  }
}

@media (max-width: 1460px) {
  html {
    font-size: 8.9px;
  }

  #hero {
    height: unset;
    min-height: unset;

    .slope {
      margin-top: 20rem;
    }
  }
}

@media (max-width: 1366px) {
  html {
    font-size: 8.5px;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 1166px) {
  html {
    font-size: 7.6px;
  }

  nav {
    margin-bottom: 8rem;
  }

  #hero {
    .sec-img {
      min-width: 465px;
    }
  }
}

@media (max-width: 1060px) {
  html {
    font-size: 8.5px;
  }

  nav {
    margin-bottom: 7.5rem;
  }

  a {
    font-size: 2rem;
  }

  img[alt="hero-down-hex"] {
    top: 88% !important;
  }

  .gr {
    display: flex;
    flex-flow: column;

    text-align: center;

    max-width: 800px;

    h1,
    h2 {
      margin-top: 80px;
    }
  }

  .sec-img {
    width: unset;
    max-width: 580px;
  }

  #hero {
    .gr {
      flex-flow: column-reverse;
    }

    .sec-img {
      min-width: unset;
    }

    .slope {
      margin-top: 15rem;
    }
  }

  .reg-link {
    margin-left: 1.8rem;
  }
}

@media (max-width: 860px) {
  h1,
  h2 {
    &::before {
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  nav {
    padding: 3.6rem 13rem;
  }

  #hero,
  #events {
    padding: 0 12rem;
  }

  #contact {
    padding: 0 12rem 11.5rem 12rem;
  }

  img[alt="event-triangle"] {
    height: 13rem !important;
    width: 13rem !important;
  }

  .mh {
    display: none !important;
  }

  a {
    font-size: 2.2rem;
  }

  .dh {
    display: unset !important;
  }

  .sec-img {
    max-width: 480px;
  }

  section {
    padding: 14rem 12rem;
  }
}

@media (max-width: 640px) {
  html {
    font-size: 8.25px;
  }

  #hero,
  #events {
    padding: 0 9rem;
  }

  #contact {
    padding: 0 9rem 11.5rem 9rem;
  }

  section {
    padding: 12rem 9rem;
  }

  nav {
    padding: 3.6rem 10rem;
  }

  .sec-img {
    max-width: 400px;
  }

  .event-box {
    margin: 18px 15px 18px 15px;
  }

  .team-box {
    margin: 40px 20px;
  }
}

@media (max-width: 510px) {
  html {
    font-size: 7.55px;
  }

  #hero,
  #events {
    padding: 0 7rem;
  }

  #contact {
    padding: 0 7rem 11.5rem 7rem;
  }

  section {
    padding: 12rem 7rem;
  }

  nav {
    padding: 3.6rem 7.5rem;
  }

  .sec-img {
    max-width: 360px;
  }

  .gr {
    h1,
    h2 {
      margin-top: 66px;
    }
  }
}

@media (max-width: 400px) {
  .sec-img {
    max-width: 280px;
  }

  #hero,
  #events {
    padding: 0 6rem;
  }

  #contact {
    padding: 0 6rem 11.5rem 6rem;
  }

  section {
    padding: 12rem 6rem;
  }

  nav {
    padding: 3.6rem 6.5rem;
  }
}
